

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* จัดให้อยู่ตรงกลาง */
}

.user-table th {
  background-color: #f2f2f2;
  color: #333;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-container {
  display: grid;
  place-items: center;
}

.user-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* ส่วนอื่น ๆ ของการจัดรูปแบบตาราง */
.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* ปรับระยะห่างด้านบนของปุ่ม */
  margin-top: 20px; /* ปรับระยะห่างด้านบนของปุ่ม */
  margin-bottom: 20px; /* ปรับระยะห่างด้านล่างของปุ่ม */
  margin-left: 10px; /* ปรับระยะห่างด้านซ้ายของปุ่ม */
  margin-right: 10px; /* ปรับระยะห่างด้านขวาของปุ่ม */
}

.custom-button:hover {
  background-color: #2980b9;
}
