

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* จัดให้อยู่ตรงกลาง */
}

.user-table th {
  background-color: #f2f2f2;
  color: #333;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-container {
  display: grid;
  place-items: center;
}

.user-table {
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* ส่วนอื่น ๆ ของการจัดรูปแบบตาราง */
