.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* เพิ่มการสลับในแนวนอน */
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* Table Header Styles */
.table-header {
  margin-bottom: 25px;
  margin-top: -10px;
}

.RankFont {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
  margin-top: -10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 600px) {
  .mat-elevation-z8 {
    margin: 10px;
    padding: 10px;
  }

  th, td {
    padding: 8px;
    font-size: 12px;
  }
  
  .flex {
    flex-direction: column;
    align-items: center;
    
    img {
      margin-bottom: 8px;
    }
  }
}

.SVGimage{
  width: 10%;
  height: 10%;
  transform-origin: center;
  position: absolute;
  top: 50px;
}

.items-center {
  border-radius: 50%; /* หรือค่าที่คุณต้องการ */
  max-width: 100%; /* ทำให้รูปภาพเป็น responsive */
  height: auto; /* ทำให้รูปภาพเป็น responsive */
}
