<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let user; let i = index">
        {{ (pageIndex !== undefined && paginator !== undefined) ? (pageIndex * paginator.pageSize) + i + 1 : '' }}
      </td>

    </ng-container>


    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>

    <!-- Job Position Column -->
    <ng-container matColumnDef="jobPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Position </th>
      <td mat-cell *matCellDef="let user"> {{user.jobPosition}} </td>
    </ng-container>

    <!-- Absent Days Column -->
    <ng-container matColumnDef="absentDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Absent Days </th>
      <td mat-cell *matCellDef="let user"> {{user.absentDays}} </td>
    </ng-container>

    <!-- Late Days Column -->
    <ng-container matColumnDef="lateDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Late Days </th>
      <td mat-cell *matCellDef="let user"> {{user.lateDays}} </td>
    </ng-container>

    <!-- Include other columns as needed -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)" showFirstLastButtons
    aria-label="Select page of periodic elements"></mat-paginator>
</div>
<button class="custom-button" (click)="goBack()">ย้อนกลับ</button>

