<body>
  <div class="container">
    <span class="date-time">
      <div class="clock">
        <p class="time">{{ dateTime | date:'HH:mm:ss' }}</p> <!-- สีข้อความ -->
      </div>
      <mat-card class="demo-inline-calendar-card" > <!-- สีพื้นหลัง -->
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </span>
    <div class="button-container">
      <div class="button top-left" (click)="checkin()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
          <!-- Your SVG logo for Check-in button here -->
        </svg>
        <p>Check-in</p>
      </div>
      <div class="button top-right" (click)="checkout()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
          <!-- Your SVG logo for Check-out button here -->
        </svg>
        <p>Check-out</p>
      </div>
      <div class="button bottom-left" (click)="getmytime()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
          <!-- Your SVG logo for History button here -->
        </svg>
        <p>History</p>
      </div>
      <div class="button bottom-right" (click)="navigateToUsersList()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
          <!-- Your SVG logo for Rankings button here -->
        </svg>
        <p>Rankings</p>
      </div>
    </div>
    

  </div>
</body>


