<body>
  <div class="container">
    <span
      data-aos="flip-right"
      data-aos-duration="1000"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
      class="date-time"
    >
      <div class="clock">
        <p class="time">{{ dateTime | date : "HH:mm:ss" }}</p>
        <!-- สีข้อความ -->
      </div>
      <mat-card class="demo-inline-calendar-card">
        <!-- สีพื้นหลัง -->
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </span>
    <div class="buttons">
      <button
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
        (click)="checkin()"
        mat-raised-button
        class="custom-button"
        id="green"
        style="font-size: 16px; color: #ffffff"
      >
        Check-in
      </button>
      <button
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
        (click)="checkout()"
        mat-raised-button
        class="custom-button"
        id="red"
        style="font-size: 16px; color: #ffffff"
      >
        Check-out
      </button>
      <button
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
        (click)="getmytime()"
        mat-raised-button
        class="custom-button"
        id="blue"
        style="font-size: 16px; color: #ffffff"
      >
        History
      </button>
      <button
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
        (click)="navigateToUsersList()"
        mat-raised-button
        class="custom-button"
        id="navy"
        style="font-size: 16px; color: #ffffff"
      >
        Rankings
      </button>
    </div>
  </div>
</body>

<!-- routerLink="userslist" -->
