  /* CSS */
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
}

  .header {
    /* เพิ่มระยะห่างด้านล่างของ header */
    margin-bottom: 50px; /* ปรับตามความต้องการ */
  }

  // .main-content {
  //   flex: auto;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  // } ก่อนหน้านี้ ไว้แก้ไขmain content

  .main-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  @media screen and (max-width: 600px) {
    .main-content {
      width: 90%;
    }
  }

  .content {
    /* เพิ่มระยะห่างด้านบนของ router-outlet */
    padding-top: 50px; /* ปรับตามความต้องการ */
  }
