.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  padding: 0px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
 }
 
 .header {
  margin-bottom: 50px;
 }
 
 .main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
 }

  .content {
    /* เพิ่มระยะห่างด้านบนของ router-outlet */
    padding-top: 40px; /* ปรับตามความต้องการ */
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
