<mat-toolbar data-aos="fade-down" color="primary" class="pmd-toolbar">
  <div class="logo">
    <span routerLink="" class="text-white text-4xl font-bold"
      >TheRabbitTech</span
    >
  </div>
  <span class="example-spacer"></span>
  <div class="nav-items">
    <ng-container *ngIf="isloggedIn">
      <ng-container *ngFor="let user of users">
        <button
          [matMenuTriggerFor]="menuHero"
          data-aos="fade-left"
          data-aos-duration="3500"
          color="primary"
          ng-init
        >
          <span
            class="text-xl text-white font-semibold mx-3 hover:underline hover:text-indigo-200"
          >
            <img
              [src]="user.profileImage"
              alt="Profile Image"
              class="rounded-full w-12 h-12 inline-block"
            />
          </span>
        </button>
        <mat-menu #menuHero="matMenu" class="uxg-user-profile">
          <div class="uxg-menu-header">
            <div class="uxg-avatar-hero-block">
              <div class="uxg-avatar" large>
                <img
                  [src]="user.profileImage"
                  alt="Profile Image"
                  class="rounded-full w-16 h-16 inline-block"
                />
              </div>
              <h2 class="uxg-h6">{{ user.firstName }} {{ user.lastName }}</h2>
              <span class="uxg-caption">{{ user.email }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="uxg-menu-footer">
            <button
              mat-button
              class="custom-edit-button"
              dense
              routerLink="profile"
            >
              Edit Profile
            </button>

            <button mat-flat-button color="primary" dense (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </div>
        </mat-menu>
      </ng-container>
    </ng-container>
  </div>
</mat-toolbar>
