
.uxg-h6{
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.uxg-menu-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.uxg-menu-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.uxg-avatar-hero-block {
  margin: 10px; /* ปรับระยะห่างรอบ avatar block ให้เหมาะสมกับการแสดงผลบนหน้าจอขนาดเล็ก */
}

.uxg-avatar img {
  width: 50px; /* ปรับขนาดของรูปโปรไฟล์ใน header ให้เล็กลงสำหรับหน้าจอขนาดเล็ก */
  height: 50px;
}

.uxg-menu-footer {
  margin-top: 10px; /* ปรับระยะห่างด้านบนของ footer ให้เหมาะสมกับการแสดงผลบนหน้าจอขนาดเล็ก */
}

/* CSS */
.custom-edit-button {
  background-color: #FFC107; /* สีเป็นสีส้ม */
  color: #ffffff; /* สีข้อความเป็นขาว */
  margin-bottom: 5px; /* ระยะห่างด้านขวาของปุ่ม */
}

.pmd-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3F51B5;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pmd-toolbar .logo {
  margin-left: 20px;
}
.pmd-toolbar .nav-items {
  margin-right: 20px;
}
.pmd-toolbar .example-spacer {
  flex: 1;
}


/* Responsive Design - Media Queries */

/* ปรับขนาดของข้อความเมื่อหน้าจอเล็กลง */
@media screen and (max-width: 768px) {
  .text-xl {
    font-size: 1.5rem; /* ปรับขนาด font ลงเพื่อให้เหมาะสมกับหน้าจอขนาดเล็ก */
  }

  .text-4xl {
    font-size: 2rem; /* ลดขนาด font ให้เหมาะสมกับหน้าจอขนาดเล็ก */
  }

  .rounded-full {
    width: 3rem; /* ปรับขนาดของรูปโปรไฟล์ให้เล็กลงสำหรับหน้าจอขนาดเล็ก */
    height: 3rem;
  }

  .uxg-avatar img {
    width: 40px; /* ปรับขนาดรูปโปรไฟล์ใน header ให้เล็กลงสำหรับหน้าจอขนาดเล็ก */
    height: 40px;
  }
}
