<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Menu icon-button">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">
    <span routerLink="" class="text-gray-200 text-4xl font-bold">TheRabbit</span>
  </div>
  <span class="example-spacer"></span>
  <div class="nav-items">
    <ng-container *ngIf="!isloggedIn">
      <span routerLink="line" class="text-xl text-gray-200 font-semibold mx-3 hover:underline hover:text-indigo-200">Login</span>
      <span routerLink="register" class="text-xl text-gray-200 font-semibold mx-3 hover:underline hover:text-indigo-200">Register</span>
    </ng-container>
    <ng-container *ngIf="isloggedIn">
      <ng-container *ngFor="let user of users">
        <span routerLink="" class="text-xl text-gray-200 font-semibold mx-3 hover:underline hover:text-indigo-200">{{ user.firstName }} {{ user.lastName }}</span>
      </ng-container>
      <span routerLink="profile" (click)="logout()" class="text-xl text-gray-200 font-semibold mx-3 hover:underline hover:text-indigo-200">Logout</span>
    </ng-container>
  </div>
</mat-toolbar>
