<div class="lg:w-3/12 mt-2 p-10 shadow-lg mx-auto">
  <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
  <form [formGroup]="forgetForm" class="flex flex-col ">
    <span class="mb-4">Enter your and we'll</span>
    <div class="flex flex-col mt-4 mb-1">
      <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="Email">
      <span *ngIf="forgetForm.hasError('require','email') && forgetForm.controls['email'].dirty" class="text-red-500">Email is require</span>
    </div>

    <button [disabled]="forgetForm.invalid" [class.disabled]="forgetForm.invalid" (click)="submit()" class="bg-indigo-500 p-2 rounded mt-3 text-white">Submit</button>

  </form>
</div>
