
<button mat-icon-button color="primary" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
<table>
  <tr>
    <td>
      <div class="scanner-container">
        <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
          [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
          (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
      </div>
    </td>
  </tr>
</table>
