/* styles.scss */

// กําหนดตัวแปรสําหรับสี เพื่อใช้ซ้ํา
$primary: #3F51B5; 
$secondary: #fff;

// กําหนด mixins เพื่อใช้ซ้ํา
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center; 
}

// กําหนด common styles
.mat-icon {
  color: $secondary; 
  font-size: 24px;
}

button {
  padding: 10px 20px;
  background-color: $primary;
  color: $secondary;
  border: none;
  cursor: pointer;
  transition: .3s;
  
  &:hover {
    background-color: lighten($primary, 10%);
  }
}

// Scanner
.scanner-container {
  @include flex-center; 
  flex-direction: column;
  position: relative;
  
  zxing-scanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
  }
}

.scan-text {
  position: absolute; 
  bottom: 20px;
  left: 50%; 
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: $secondary; 
}

/* ปรับขนาดและตำแหน่งของ back-button */
.back-button {
  top: 20px;
  left: 20px;
  z-index: 2;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

