
/* ปรับขนาดของ scanner-container ตามที่ต้องการ */
.scanner-container {
  position: relative;
  border-radius: 12px;
  background-color: #3F51B5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}
/* ปรับขนาดของ zxing-scanner ภายใน scanner-container */
zxing-scanner {
  width: 80%;
  max-width: 500px; 
  display: block;
}

/* ปรับขนาดและตำแหน่งของ custom-button */
.custom-button {
  position: absolute; /* ตั้งค่าตำแหน่งเป็น absolute */
  top: 20%; /* จัดให้ปุ่มติดอยู่ด้านบนสุด */
  left: 50%; /* จัดให้ปุ่มอยู่ตรงกลางแนวนอน */
  transform: translateX(-50%); /* ย้ายปุ่มไปที่ตำแหน่งกลางแนวนอน */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



table {
  margin: 0 auto; /* Center the table horizontally */
}

.back-button {  
  bottom: 50%;
  left: 20px;
  z-index: 2; /* เพิ่มค่า z-index เพื่อให้อยู่ด้านบนสุด */
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Adjust the scan-text positioning */
.scan-text {
  position: absolute;
  top: 100%; /* Set bottom to 50% */
  transform: translate(-50%, 50%); /* Use translate to center vertically and horizontally */
  left: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

