
/* ปรับขนาดของ scanner-container ตามที่ต้องการ */
.scanner-container {
  top: 5vh;
  position: relative;
  border-radius: 12px;
  background-color: #3F51B5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  zxing-scanner::part(video-container) {
    border-radius: 12px;
  }

  zxing-scanner {
    width: 100%;
    height: 100%;
    max-width: 500px; 
    display: block;
  }
}
// /* ปรับขนาดของ zxing-scanner ภายใน scanner-container */
// zxing-scanner {
//   width: 80%;
//   max-width: 500px; 
//   display: block;
//   border-radius: 12px;
// }

/* ปรับขนาดและตำแหน่งของ custom-button */
.custom-button {
  position: absolute; /* ตั้งค่าตำแหน่งเป็น absolute */
  top: -100%; /* จัดให้ปุ่มติดอยู่ด้านบนสุด */
  left: 50%; /* จัดให้ปุ่มอยู่ตรงกลางแนวนอน */
  transform: translateX(-50%); /* ย้ายปุ่มไปที่ตำแหน่งกลางแนวนอน */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}




table {
  margin: 0 auto; /* Center the table horizontally */
}

.back-button {
  top: 20px;
  left: 20px;
  z-index: 2; /* เพิ่มค่า z-index เพื่อให้อยู่ด้านบนสุด */
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


// .scan-text {
//   position: static;
//   top: 10px; /* ตำแหน่งที่ไม่ทับกับส่วนอื่น ๆ ของ .scanner-container */
//   transform: translate(-50%, 0); /* ใช้ translate เพื่อคงความแน่นอนที่ตำแหน่งแนวนอน */
//   left: 50%;
//   font-size: 24px;
//   font-weight: bold;
//   color: #000000;
//   z-index: 1;
// }

 .scan-text {
   position: absolute;
   top: 60%; /* Set bottom to 50% */
   transform: translate(-50%, 50%); /* Use translate to center vertically and horizontally */
   left: 50%;
   font-size: 24px;
   font-weight: bold;
   color: #000000;
 }