/* สำหรับทำให้ตารางไม่ใหญ่เกินไป */
.mat-table {
  width: 100%;
  max-width: 800px; /* ปรับขนาดตารางตามที่ต้องการ */
  margin: 0 auto; /* จัดตารางไปตรงกลาง */
}

/* ทำให้ตารางเป็น responsive design */
@media (max-width: 600px) {
  .mat-table {
    width: 100%;
    max-width: 100%;
  }
}
.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* ปรับระยะห่างด้านบนของปุ่ม */
  margin-top: 20px; /* ปรับระยะห่างด้านบนของปุ่ม */
  margin-bottom: 20px; /* ปรับระยะห่างด้านล่างของปุ่ม */
  margin-left: 10px; /* ปรับระยะห่างด้านซ้ายของปุ่ม */
  margin-right: 10px; /* ปรับระยะห่างด้านขวาของปุ่ม */
}

.custom-button:hover {
  background-color: #2980b9;
}
.back-button {
  z-index: 1;
  font-size: 24px; /* เพิ่มขนาดของไอคอน */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* ปรับขอบล่างของหัวข้อ */
}

.header-title h1 {
  font-size: 24px;
  color: #333; /* สีข้อความของหัวข้อ */
  font-weight: bold;

}
