/* Container Styles */
.mat-elevation-z8 {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* เพิ่มการสลับในแนวนอน */
  margin: 20px;
  padding: 20px;
}

/* Table Header Styles */
.table-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Responsive Styles for Small Screens */
@media screen and (max-width: 600px) {
  .mat-elevation-z8 {
    margin: 10px;
    padding: 10px;
  }

  th, td {
    padding: 8px;
    font-size: 18px;
  }
  
  .flex {
    flex-direction: column;
    align-items: center;
    
    img {
      margin-bottom: 8px;
    }
  }
}

.container {
  width: 100vh;
  height: 80vh;
}