/* สำหรับทำให้ตารางไม่ใหญ่เกินไป */
.mat-table {
  width: 100%;
  max-width: 800px; /* ปรับขนาดตารางตามที่ต้องการ */
  margin: 0 auto; /* จัดตารางไปตรงกลาง */
}

/* ทำให้ตารางเป็น responsive design */
@media (max-width: 600px) {
  .mat-table {
    width: 100%;
    max-width: 100%;
  }
}
