/* footer.component.scss */
footer {
  background-color: #3F51B5;
  color: #fff;
  padding: 10px 0;
  text-align: center;

  .footer-content {
    max-width: 1200px;
    margin:auto;
  }

  p {
    margin: 0;
  }

  // Responsive styles
  @media (max-width: 768px) {
    padding: 20px 0;

    .footer-content {
      padding: 0 10px;
    }
  }
}
