:host {
  display: flex;
  flex-direction: column;
  height: 100%;  
}

footer {
  margin-top: auto;
  padding: 10px;
}

.footer-container {
  background-color:#3F51B5; 
  width: 100%; 
  color: #fff;
  display: flex;  
  justify-content: center;
}

@media (max-width: 600px) {
  footer {
    padding: 5px;
  }  
}