<footer data-aos="fade-up"
data-aos-duration="1500">
  <div class="footer">
      <div class="row">
          <div class="col-md-4">
              <h5>About</h5>
              <p>The TheRabbitTech</p>
          </div>
          <div class="col-md-4">
              <h5>Links</h5>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Contact</h5>
              <p>Email: therabbittech@something.com</p>
              <p>Phone: +66 234 567 890</p>
          </div>
      </div>
  </div>
</footer>