  /* Footer Styles */
  .pmd-footer {
    background-color: #eeff00;
    // background-color: #3F51B5;
    color: #fff;
    padding: 7px 0;
    text-align: center;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

