<ng-container *ngFor="let user of users">
  <div class="profile-container">
    <img [src]="user.profileImage" alt="Profile Image" class="rounded-full w-24 h-24 mb-4">
    <h2 class="text-3xl font-semibold">{{ user.firstName }} {{ user.lastName }} ({{user.nickname}})</h2>
    <div class="profile-details mt-4">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
      <p><strong>Address:</strong> {{ user.address }}</p>
      <p><strong>Job Position:</strong> {{ user.jobPosition }}</p>
      <p><strong>Gender:</strong> {{ user.gender }}</p>
      <!-- ข้อมูลอื่น ๆ ตามต้องการ -->

      <!-- ปุ่มแก้ไข -->
      <button mat-stroked-button color="primary" class="edit-button"  [routerLink]="['/edit']" >แก้ไข</button>
    </div>
  </div>
</ng-container>
